<!-- templates/taxi/driver_list.html -->
{% extends 'taxi/base.html' %}
{% block content %}
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver List</title>
</head>
<body>
    <h1>Driver List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in object_list %}
                <tr>
                    <td>{{ driver.id }}</td>
                    <td><a href="{% url 'taxi:driver-detail' driver.pk %}">{{ driver.username }}</a></td>
                    <td>{{ driver.name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No drivers available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
